body {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 span{
    margin-left: -10px;
}

#form {
    padding-top: 65px;
}

#avail {
    padding-top: 65px;;
}

button {
background-color: #ab6868;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}