body {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 span{
    margin-left: -10px;
}

#form {
    padding-top: 65px;
}

#avail {
    padding-top: 65px;;
}